* {
    box-sizing: border-box;
}

body {
    background-color: #F5F8FA;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    font-weight: 300;
    line-height: 1.6;
    color: #212529;
    text-align: left;
}

.banner {
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.banner-title {
    transform: translateY(150px)
}

.banner-end {
    transform: translateY(280px)
}

.thumnail {
    width: 257px;
    height: 257px;
}

.hover-media:hover {
    background-color: #F5F8FA;
}
/*--------------------------Grid template starts design for image gallery-----------------*/


.grid-template {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: minmax(250px,auto);
    grid-gap: 10px;
}

.item-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.item-7 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.item-9 {
    grid-row: 3 / 5;
}


.item-10 {
    grid-row: 3 / 5;
}

.item-11 {
    grid-column: 3/5;
    grid-row: 3 / 5;
}

.item-12 {
    grid-row: 3 / 5;
}

/*----------------------------------(This code Important for Modal sizing on large device)-----------------------------------*/
.modal-dialog {
    position: relative;
    width: auto;
    max-width: 600px;
    margin: 0 auto;
}

/*----------------------------------------------------------------------------------------------------------------------------*/


.register-style {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/Images/loginimg.jpg");
    height: 80%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.btn-ilgiOrange {
    background-color: #ff7555;
    color:white;
}


/*---------------------------------------------------Details-------------------------------------------------------------------*/
.display_flex{
    display:flex
}
.space_between{
    justify-content:space-between;
}
.space_evenly{
    justify-content:space-evenly;
}
.align_content {
    vertical-align: center;
}


.details_div{
    width:100%;
    height:auto;
}

.details_left_div{
    width:63%;
}

.details_left_first {
    width: auto;
    background-color: white;
    border-radius: 10px;
    margin-bottom:30px;
}
    .details_left_first img {
        width: 100%;
        background-color: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
.details_event_title_favorite{
    padding:20px;
}

.details_event_title{

}

.details_favorite {
    height: fit-content;
    padding-top: 4%;
}
#details_favorite_button {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightgray;
    padding: 10px;
    border-radius: 8px;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: lightcoral;
}


.details_left_second {
    width: auto;
    background-color: white;
    border-radius: 10px;
    padding:20px;
    margin-bottom:30px
}

.details_details{
    border-bottom:1px solid lightgrey;
    margin-bottom:15px;
}
.details_right_div{
    width:35%;    
}
.ticket_div{
    width:auto;
}
.tickets_details {
    width: 32%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;


}

.little_details_right {
    width: auto;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 30px;
    padding:20px;
}

.little_details_right p{
    text-align:center;
    padding-bottom:5px;
    border-bottom:1px solid lightgrey;
}
.little_details_right button {
    width: 50%;
    margin-left: 25%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: lightgray;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family:Arial;
    font-weight:900;
    color:green;
}
    .little_details_right button:hover {
        color: white;
        background-color: green;
        box-shadow: 3px 3px 8px 3px #888888;
    }

.go_with_friends_left {
    width: 50%;
    text-align: center;
    border-right:1px solid lightgrey;
}
.go_with_friends_right {
    width: 50%;
    text-align: center;
}
.event_organizer{
    text-align:center;
}