<body>
    <main class="dashboard-mp">
        <div class="profile-banner">
            <div class="hero-cover-block">
                <div class="hero-cover">
                    <div class="hero-cover-img hero-img-1">
                        <img src="~/Images/banner.jpg">
                    </div>
                </div>
                <div class="upload-profile-cover">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="cover-img-btn">
                                    <input type="file" id="cover-img">
                                    @*<label for="cover-img"><i class="feather-image me-2"></i>Change Image</label>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-12">
                        <div class="main-card user-left-dt">
                            <div class="user-avatar-img">
                                <img src="~/Images/pablo.jpg" alt="">
                                <div class="avatar-img-btn">
                                    <input type="file" id="avatar-img">
                                    <label for="avatar-img"><i class="feather-camera"></i></label>
                                </div>
                            </div>
                            <div class="user-dts">
                                <h4 class="user-name">John Doe<span class="verify-badge"><i class="fa-solid fa-circle-check"></i></span></h4>
                                <span class="user-loc"><i class="feather-map-pin"></i>India</span>
                            </div>
                            <div class="ff-block">
                                <a href="#" class="" role="button" data-bs-toggle="modal" data-bs-target="#FFModal"><span>3</span>Followers</a>
                                <a href="#" class="" role="button" data-bs-toggle="modal" data-bs-target="#FFModal"><span>2</span>Following</a>
                            </div>
                            <div class="user-description">
                                <p>Hey I am a John Doe</p>
                            </div>
                            <div class="user-btns">
                                <a href="setting.html" class="co-main-btn co-btn-width min-width d-inline-block h_40"><i class="feather-settings me-2"></i>Profile Setting</a>
                            </div>
                            <div class="profile-social-link">
                                <h6>Find me on</h6>
                                <div class="social-links">
                                    <a href="#" class="social-link" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Facebook" aria-label="Facebook"><i class="fab fa-facebook-square"></i></a>
                                    <a href="#" class="social-link" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Instagram" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                                    <a href="#" class="social-link" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Twitter" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                                    <a href="#" class="social-link" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="LinkedIn" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#" class="social-link" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Youtube" aria-label="Youtube"><i class="fab fa-youtube"></i></a>
                                    <a href="#" class="social-link" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Website" aria-label="Website"><i class="fa-solid fa-globe"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

</body>
</html>
